{% extends "base.html" %}
{% block content %}
<div class="container py-2">
    <h1 style="text-align: center;"> Carga de Archivos </h1>
</div>
<div class="container py-2">
<form action="/carga/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<label for="file">Cargar un archivo</label>
<br>
<input type="file" id="file" name="file" accept="text/xml">
<div class="container py-3">
    {% if content %}   
        <textarea label="textarea" name="textarea" rows="13" cols="70">{{content}}</textarea>
        <textarea label="textarea" name="textarea2" rows="13" cols="70">{{response}}</textarea>
    {% else %}
        <textarea style="margin-right: 1rem;" label="textarea" name="textarea" rows="13" cols="70"></textarea>
        <textarea label="textarea" name="textarea2" rows="13" cols="70"></textarea>
    {% endif %}
</div>
<button style="background-color: green"  type="submit" class="btn btn-dark btn-lg">Enviar</button>


<a href="{% url 'reset' %}">
    <input type="button" value="Reset" style="background-color: red" class="btn btn-dark btn-lg">
</a>

<a href="{% url 'reporte' %}">
    <input type="button" value="Generar PDF" style="background-color: black" class="btn btn-dark btn-lg">
</a>

</form>
</div>
{% endblock content %}