{% extends "base.html" %}
{% block content %}
<div class="container py-2">
    <h1 style="text-align: center;"> PRUEBA </h1>
</div>
<div class="container py-2">
<form action="/cargar/" method="GET" enctype="multipart/form-data">
    {% csrf_token %}
<br>

<div class="container py-3">
    {% if content %}   
        <textarea label="textarea" name="textarea" rows="10" cols="70">{{content}}</textarea>
        <textarea label="textarea" name="textarea2" rows="10" cols="70">{{response}}</textarea>
    {% else %}
        <textarea style="margin-right: 1rem;" label="textarea" name="textarea" rows="10" cols="70"></textarea>
        <textarea label="textarea" name="textarea2" rows="10" cols="70"></textarea>
    {% endif %}
</div>

<a href="{% url 'pruebamsg' %}">
    <input type="button" value="Realizar Prueba" style="background-color: green" class="btn btn-dark btn-lg">
</a>



<button style="background-color: red" type="reset" class="btn btn-dark btn-lg">Limpiar</button>
<a href="{% url 'reporte' %}">
    <input type="button" value="Generar PDF" style="background-color: black" class="btn btn-dark btn-lg">
</a>

</form>
</div>
{% endblock content %}